.app-loading-screen {
  width: 100%;
  background: #2c3e50;
  height: 100%;
  position: absolute;
  z-index: 1000000;
  text-align: center;
  padding-top: 10%;
  padding-right: 12%;

  top: 0;
}

img {
  width: 5%;
}



@media only screen and (max-width: 1024px) {
    img {
      width: 20%;
    }
  
    .app-loading-screen {
      padding-top: 40%;
      text-align: left;
      padding-left: 27%;
    }
  }

  @media only screen and (max-width: 600px) {
    img {
      width: 20%;
    }
  
    .app-loading-screen {
      padding-top: 40%;
      text-align: center;
      padding-left: 0;

  
    }
  }
