
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <app-nav-user></app-nav-user>
  
    </nav>
  
    <!-- Page Content Holder -->
    <div id="content">
      <app-toggle-user-menu></app-toggle-user-menu>
  
        <h2>All Students  
            <a routerLink="/add-student">
              <button type="button"  class="btn btn-info">Add Student</button>
           </a>
          </h2> <br>
          <div class="row">
           
            <div class="col-sm-12">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>NAME</th>
                    <th>SURNAME</th>
                    <th>STUDENT NUMBER</th>
                  
                    <th>ACTIONS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of students">
                    <td>{{student.name}}</td>
                    <td>{{student.surname}}</td>
                    <td>{{student.studentNo}}</td>
                    <td>
                        <button type="button" (click)="Details(student)" class="btn btn-info">More</button>

                    </td>
                  
                  </tr>
                  
                </tbody>
              </table>
          </div>
       </div>
  </div>

  