<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <app-nav-user></app-nav-user>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">
    <app-toggle-user-menu></app-toggle-user-menu>
    <h2>Monthly Expenditures
     
    </h2>
    <br/>
    <div class="row" *ngIf="expenses$ | async as expenses; else loading">

      <div class="col-sm-12">
        <table class="table table-condensed">
          <thead>
            <tr>
           
              <th>DESCRIPTION</th>
              <th>AMOUNT</th>
              <th>PERIOD</th>
               <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let expense of expenses">
            
              <td>{{expense.Description}}</td>
              <td>R{{expense.Amount}}</td>
              <td>{{expense.Month}}</td>
              <td>
                <button disabled type="button" (click)="Details(lecture)" class="btn btn-info">More</button>
              </td>

            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <ng-template #loading><app-loading></app-loading></ng-template>


  </div>