<div class="sidebar-header">
    <h3>Lecture Dash</h3>
</div>

<ul class="list-unstyled components">
  <li>
      <a routerLink="/user-dashboard">Home View</a>
  </li>
    <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">My Account</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Change Your Password</a></li>
        </ul>
    </li>
  
    <li>
        <a routerLink="/student-list">My Students</a>
    </li>
  
     <li>
        <a routerLink="/all-subjects">My Subjects</a>
    </li>
     <li>
        <a routerLink="/all-lectures">Tests</a>
    </li>
  
</ul>
