<div class="sidebar-header">
    <h3>Lecture Dash</h3>
</div>

<ul class="list-unstyled components">
  <li>
      <a routerLink="/lecture-dashboard">Home View</a>
  </li>
    <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">My Account</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
            <li><a routerLink="/lecture-dashboard">My Profile</a></li>
            <li><a routerLink="/lecture-dashboard">Change Your Password</a></li>
        </ul>
    </li>
  
     <li>
        <a (click)="mySubjects()">My Subjects</a>
    </li>
     <!-- <li>
        <a routerLink="/all-lectures">Tests</a>
    </li> -->
  
</ul>
