<p>
  student-subject-marks works!
</p>

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <app-student-nav></app-student-nav>
  
    </nav>
  
    <!-- Page Content Holder -->
    <div id="content"> 
        <app-toggle-user-menu></app-toggle-user-menu>
        <h2>[Suject Name]
        </h2> <br> <br>
          <div class="row">         
            <div class="col-sm-12">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Term</th>                 
                    <th>Mark</th>
                    <th>STATUS</th>                   
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let subject of subjects"> -->
                    <tr>
                    <td>Assignment</td>
                    <td>1</td>               
                    <td>90%</td>
                    <td>Pass Distinction</td>              
                  </tr>
                  <tr>
                      <td>Test 1</td>
                      <td>1</td>               
                      <td>90%</td>
                      <td>Pass Distinction</td>              
                    </tr>
                    <tr>
                        <td>Test 2</td>
                        <td>1</td>               
                        <td>90%</td>
                        <td>Pass Distinction</td>              
                      </tr>
                      <tr>
                          <td>Exam</td>
                          <td>1</td>               
                          <td>n/a</td>
                          <td>Upcoming Paper</td>              
                        </tr>
                      
                </tbody>
              </table>
            
          </div>
         
       </div>
  </div>
  
  