
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <app-nav-user></app-nav-user>
  
    </nav>
  
    <!-- Page Content Holder -->
    <div id="content">
  
        <nav class="navbar navbar-default"  style="background: #CCAC00;">
            <div class="container-fluid">
  
                <div class="navbar-header" style="background: #CCAC00;">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>
                        <span>
                          <i class="fa fa-bars"></i>
                        </span>
                    </button>
                </div>
            </div>
        </nav>
  
        <h2>All Subjects</h2> <br>
          <div class="row">
           
            <div class="col-sm-12">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>TITTLE</th>
                    <th>DESCRIPTION</th>
                    <th>CREDITS</th>
                    <th>CODE</th>
                    <th>STATUS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let subject of subjects">
                    <td>{{subject.tittle}}</td>
                    <td>{{subject.description}}</td>
                    <td>{{subject.credits}}</td>
                    <td>{{subject.code}}</td>
                    <td>{{subject.status}}</td>
                  
                  </tr>
                  
                </tbody>
              </table>
          </div>
       </div>
  </div>

  