
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <app-nav-user></app-nav-user>
  
    </nav>
  
    <!-- Page Content Holder -->
    <div id="content">
      <app-toggle-user-menu></app-toggle-user-menu>
  
        <h2>All Staff  
            <a routerLink="/add-lecture">
              <button type="button"  class="btn btn-info">Add Staff Member</button>
           </a>
          </h2> <br>
          <div class="row" *ngIf="lectures$ | async as lectures; else loading">
           
            <div class="col-sm-12">
              <div class="row">
                      <div class="input-group stylish-input-group">
                          <input type="text" [(ngModel)]="searchText"  [ngModelOptions]="{standalone: true}" class="form-control"  placeholder="Search" >
                          <span class="input-group-addon">
                              <button type="submit">
                                  <span class="fa fa-search"></span>
                              </button>  
                          </span>
                      </div>                  
              </div>
              <table class="table table-condensed">
                <thead>
                    
                  <tr>
                    <th>NAME</th>
                    <th>SURNAME</th>
                    <th>ID NUMBER</th>
                    <th>CONTACT NUMBER</th>
                    <th>EMAIL ADDRESS</th>
                    <th>ADDRESS</th>
                    <th>STAFF NUMBER</th>
                    <th>STAFF ROLE</th>
                    <th>ACTIONS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let lecture of lectures | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>{{lecture.name}}</td>
                    <td>{{lecture.surname}}</td>
                    <td>{{lecture.idnumber}}</td>
                    <td>{{lecture.cell}}</td>
                    <td>{{lecture.email}}</td>
                    <td>{{lecture.address}}</td>
                    <td>{{lecture.id}}</td>
                    <td>{{lecture.role}}</td>
                    <td>
                        <button type="button" (click)="Details(lecture)" class="btn btn-info">More</button>
                    </td>                  
                  </tr>                  
                </tbody>
              </table>
              <div class="justify-content-center">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
          </div>
       </div>
       <ng-template #loading><app-loading></app-loading></ng-template>

  </div>

  