
<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
      <app-nav-user></app-nav-user>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

      <nav class="navbar navbar-default"  style="background: #CCAC00;">
          <div class="container-fluid">

              <div class="navbar-header" style="background: #CCAC00;">
                  <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                      <i class="glyphicon glyphicon-align-left"></i>
                      <span>
                        <i class="fa fa-bars"></i>
                      </span>
                  </button>
              </div>
          </div>
      </nav>

      <h2>All Departements</h2> <br>
        <div class="row">
         
          <div class="col-sm-12">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Departement Name</th>
                  <th>Date Created</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let departement of departements">
                  <td>{{departement.name}}</td>
                  <td>{{departement.startdate}}</td>
                  <td>{{departement.status}}</td>
                
                </tr>
                
              </tbody>
            </table>
        </div>
     </div>
</div>


