<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <app-nav-user></app-nav-user>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <app-toggle-user-menu></app-toggle-user-menu>

    <div class="row student-details" *ngIf="courseSubjects$ | async as courseSubjects">
      <div class="col-sm-4">
        <h3>Student</h3>
        <table *ngIf="student$ | async as student; else loadingStudent">
          <tr>
            <td>
              <b>Name:</b>
            </td>
            <td>
              {{ student[0].name}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Surname:</b>
            </td>
            <td>
              {{ student[0].surname}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Student No:</b>
            </td>
            <td>
              515454545
            </td>
          </tr>
        </table>
        <ng-template>
          <div #loadingStudent>
            <h4>
              Loading Student....
            </h4>
          </div>

        </ng-template>
        <br>
        <br>
        <h3>Course</h3>
        <div *ngIf="courseObject$ | async as courseObject; else loadingCourse">
          <table *ngIf="courseObject.length; else noCourseFound">
            <tr>
              <td>
                <b>Tittle:</b>
              </td>
              <td>
                {{courseObject[0].tittle}}
              </td>
            </tr>
            <tr>
              <td>
                <b>Description:</b>
              </td>
              <td>
                {{courseObject[0].description}}
              </td>
            </tr>
            <tr>
              <td>
                <b>Department:</b>
              </td>
              <td>
                {{courseObject[0].department}} </td>
            </tr>
            <tr>
              <td>
                <b>Credits:</b>
              </td>
              <td>
                {{courseObject[0].credits}} </td>
            </tr>
            <tr>
              <td>
                <b>Status:</b>
              </td>
              <td>
                {{courseObject[0].status}} </td>
            </tr>
          </table>
        </div>

        <ng-template #loadingCourse>
          <h4>
            Loading Course....
          </h4>
        </ng-template>
        <ng-template #loading>
          <h4>
            Loading....
          </h4>
        </ng-template>
        <ng-template #noCourseFound>

          <h4>
            No Course Found
          </h4>
        </ng-template>
        <button class="btn btn-info" (click)="SaveAll(courseSubjects)">Save All</button>
        <br>
      </div>
      <div class="col-sm-8">

      
        <br>
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div >
                <div *ngIf="Allsubjects" style="margin: 2rem">
                    <select type="text" [(ngModel)]="sub" class="form-control" style="width: 60%;float: left">
                      <option *ngFor="let sub of Allsubjects" [value]="sub.id">{{sub.tittle}}</option>
                    </select>
                    <button type="button" (click)="AddSubject(sub,courseSubjects)" class="btn btn-info">+</button>
                  </div>
              <table class="table" *ngIf="courseSubjects.length;  else noCourseSubjectsFound">
                <thead>
                  <tr>
                    <th>TITTLE</th>
                    <th>CODE</th>
                    <th>DESCRIPTION</th>
                    <th>CREDITS</th>
                    <th>STATUS</th>
                    <th>ACTIONS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let subject of courseSubjects">
                    <td>{{subject.tittle}}</td>
                    <td>{{subject.code}}</td>
                    <td>{{subject.description}}</td>
                    <td>{{subject.credits}}</td>
                    <td>{{subject.status}}</td>
                    <td>
                      <button type="button" (click)="Remove(subject,courseSubjects)" class="btn btn-danger">X</button>
                    </td>
                  </tr>

                </tbody>
              </table>
              <ng-template #noCourseSubjectsFound>

                <h5>
                  This course have no subjects
                </h5>
              </ng-template>
            </div>

            <ng-template #loadingSubjects>
              <h5>
                Loading Subjects.....
              </h5>
            </ng-template>

          </div>

        </div>
      </div>
    </div>

  </div>
