
<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <app-lecture-nav></app-lecture-nav>

  </nav>

  <!-- Page Content Holder -->
  <div id="content" *ngIf= "allSubjects as subs">
    <app-toggle-user-menu></app-toggle-user-menu>

      <h2>All Test  
          <a routerLink="/add-test">
            <button type="button"  class="btn btn-info">Add test</button>
         </a>
        </h2> <br>
        <div class="row">         
          <div class="col-sm-12">
              <div class="row">
                  <div class="input-group stylish-input-group">
                      <input type="text" [(ngModel)]="searchText"  [ngModelOptions]="{standalone: true}" class="form-control"  placeholder="Search" >
                      <span class="input-group-addon">
                          <button type="submit">
                              <span class="fa fa-search"></span>
                          </button>  
                      </span>
                  </div>                  
          </div>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>TYPE</th>
                  <th>DISCRIPTION</th>
                  <th>DATE</th>
                 <th>DURATION</th>
                 <th>VENUE</th>
                 <th>TIME</th>
                 <th>STATUS</th>
                 <th>SCORE</th>
                 <th>SUBJECT</th>
                 <th>CREATEDATE</th>
                
                  <th>ACTIONS</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let test of tests | filter: searchText| paginate: { itemsPerPage: 10, currentPage: p }">
                  <td>{{test.type}}</td>
                  <td>{{test.tittle}}</td>

                  <td>{{test.date}}</td>
                  <td>{{test.duration}}</td>
                  <td>{{test.location}}</td>
                  <td>{{test.time}}</td>
                  <td>{{test.status}}</td>
                  <td>{{test.score}}</td>
                  <td>{{test.subjectID | getsubject:subs}}</td>
                  <td>{{test.createdate}}</td>
                  <td>
                    

                      <div class="btn-group">
                        <button type="button" (click)="Edit(test)" class="btn btn-info">Edit</button>
                        <button type="button" (click)="More(test)" class="btn btn-info">Students</button>
                      </div>
                  </td>
                
                </tr>
                
              </tbody>
            </table>
            <div class="justify-content-center">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
        </div>
     </div>
</div>

