<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <app-nav-user></app-nav-user>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">
    <app-toggle-user-menu></app-toggle-user-menu>

    <h2>All Account Types
      <a routerLink="/add-account-type">
        <button type="button" class="btn btn-info">Add Account Type</button>
      </a>
    </h2>
    <br>
    <div class="row" *ngIf="accounts$ | async as accounts; else loading">

      <div class="col-sm-12">
        <div class="row">
          <div class="input-group stylish-input-group">
            <input type="text" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Search">
            <span class="input-group-addon">
              <button type="submit">
                <span class="fa fa-search"></span>
              </button>
            </span>
          </div>
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>DESCRIPTION</th>
              <th>TYPE OF ACCOUNT</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let account of accounts | filter: searchText| paginate: { itemsPerPage: 10, currentPage: p }">
              <td>{{account.Description}}</td>
              <td>{{account.AccountTypeID}}</td>
              <td>
                <button type="button" (click)="edit(account)" class="btn btn-info">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="justify-content-center">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <app-loading>

      </app-loading>
    </ng-template>

  </div>