<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <app-nav-user></app-nav-user>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-default" style="background: #CCAC00;">
      <div class="container-fluid">

        <div class="navbar-header" style="background: #CCAC00;">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
            <span>
              <i class="fa fa-bars"></i>
            </span>
          </button>
        </div>
      </div>
    </nav>
    <div class="row student-details">
      <div class="col-sm-12">
          <h2>{{student.name}} Details</h2>
          <table>
            <tr>
                <td>
                 <b>Name:</b>
                  </td>
              <td>
             {{  student.name}}
              </td>
            </tr>
            <tr>
                <td>
                 <b>Surname:</b>
                  </td>
              <td>
              {{ student.surname}}
              </td>
            </tr>
            <tr>
                <td>
                 <b>Student No:</b>
                  </td>
              <td>
             {{  student.studentNo}}
              </td>
            </tr>
          </table>
        </div>
        </div>
    <div class="row">
      <div class="col-sm-4">
        <h2>{{courseObject.tittle}} </h2>
        <br> Tittle: {{courseObject.tittle}}
        <br>
        <br> Description:{{courseObject.description}}
        <br>
        <br> Department:{{courseObject.department}}
        <br>
        <br> Credits:{{courseObject.credits}}
        <br>
        <br> Status:{{courseObject.status}}
        <br>
        <br>
      </div>
      <div class="col-md-8">
        <h2>{{courseObject.tittle}} - Subjects </h2>
        <br>    
            <div class="panel panel-default">
              <div class="panel-heading">
                <table class="table">
                  <thead>
                    <tr>
                      <th>TITTLE</th>
                      <th>CODE</th>
                      <th>DESCRIPTION</th>
                      <th>CREDITS</th>
                      <th>STATUS</th>
                      <th>ACTIONS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let subject of subjects">
                      <td>{{subject.tittle}}</td>
                      <td>{{subject.code}}</td>
                      <td>{{subject.description}}</td>
                      <td>{{subject.credits}}</td>
                      <td>{{subject.status}}</td>
                      <td>
                        <button type="button" (click)="Details(course)" class="btn btn-info">More</button>
                      </td>

                    </tr>

                  </tbody>
                </table>
              </div>        

        </div>
        <div class="row">
          <br>
          <div class="form-group">
           <h2 for="email"><b> Add Subject to Course</b>:</h2>
           <select type="text" [(ngModel)]="sub"   class="form-control" style="width: 100%;">
               <option *ngFor="let sub of Allsubjects" [value]="sub.id">{{sub.tittle}}</option>
             </select>
         </div>         
         <div class="form-group">
           <button type="button" (click)="addSubjectToAList(sub)" class="btn btn-info">SAVE</button>
         </div>
         <div>
           <p class="error">{{error}}</p>       
        
   </div>        </div>

      </div>
    </div>
</div>
