<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <app-nav-user></app-nav-user>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-default" style="background: #CCAC00;">
      <div class="container-fluid">

        <div class="navbar-header" style="background: #CCAC00;">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
            <span>
              <i class="fa fa-bars"></i>
            </span>
          </button>
        </div>
      </div>
    </nav>
    <div class="row student-details">
        <div class="col-sm-6">
            <h2>{{student.name}} Details</h2>
            <table>
              <tr>
                  <td>
                  <b>Name:</b>
                    </td>
                <td>
              {{  student.name}}
                </td>
              </tr>
              <tr>
                  <td>
                  <b>Surname:</b>
                    </td>
                <td>
                {{ student.surname}}
                </td>
              </tr>
              <!-- <tr>
                  <td>
                  <b>Student No:</b>
                    </td>
                <td>
              {{student.studentNo}}
                </td>
              </tr> -->
            </table>
          </div>
          <div class="col-sm-6">
            <h2>Course Information</h2>
            <table>
                <tr>
                  <td><b>Course:</b></td>
                  <td>{{courseObject.tittle}}</td>
                </tr>
                <tr>
                   <td><b>Department:</b></td>
                   <td>{{courseObject.department}}</td>
                  </tr>
                  <tr>
                      <td><b>Credits:</b></td>
                      <td>{{courseObject.credits}}</td>
                     </tr>
                     <tr>
                        <td><b>Status:</b></td>
                        <td>{{courseObject.status}}</td>
                       </tr>
            </table>
          </div>
        </div>
    <div class="row">     
    <div class="col-md-12">
        <h2>{{courseObject.tittle}} - Subjects </h2>
        <br>    
            <div class="panel panel-default">
              <div class="panel-heading">
                <table class="table">
                  <thead>
                    <tr>
                      <th>TITLE</th>
                      <th>CODE</th>
                      <th>DESCRIPTION</th>
                      <th>CREDITS</th>
                      <th>STATUS</th>              
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let subject of subjects">
                      <td>{{subject.tittle}}</td>
                      <td>{{subject.code}}</td>
                      <td>{{subject.description}}</td>
                      <td>{{subject.credits}}</td>
                      <td>{{subject.status}}</td>               
                    </tr>
                  </tbody>
                </table>
            </div>    
        </div> 
      </div>
    </div>
</div>
