<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <app-nav-user></app-nav-user>
  
    </nav>
  
    <!-- Page Content Holder -->
    <div id="content">
  
        <app-toggle-user-menu></app-toggle-user-menu>
  
      <div class="row student-details" *ngIf="lecture">
          <div class="col-sm-6">
              <h2>{{lecture.name}}'s Details</h2>
              <table>
                <tr>
                    <td>
                    <b>Name:</b>
                      </td>
                  <td>
                {{  lecture.name}}
                  </td>
                </tr>
                <tr>
                    <td>
                    <b>Surname:</b>
                      </td>
                  <td>
                  {{ lecture.surname}}
                  </td>
                </tr>
                <!-- <tr>
                    <td>
                    <b>Student No:</b>
                      </td>
                  <td>
                {{student.studentNo}}
                  </td>
                </tr> -->
              </table>
            </div>
            <div class="col-sm-6">
              <h2>Course Information</h2>
              <table  *ngIf="(courseObject)">
                  <tr>
                    <td><b>Course:</b></td>
                    <td>{{courseObject.tittle}}</td>
                  </tr>
                  <tr>
                     <td><b>Department:</b></td>
                     <td>{{courseObject.department}}</td>
                    </tr>
                    <tr>
                        <td><b>Credits:</b></td>
                        <td>{{courseObject.credits}}</td>
                       </tr>
                       <tr>
                          <td><b>Status:</b></td>
                          <td>{{courseObject.status}}</td>
                         </tr>
              </table>
              <div  *ngIf="(!courseObject)">
                  <h3>No Course allocated</h3>
              </div>
            </div>
          </div>
      <div class="row">     
      <div class="col-md-12" *ngIf="courseObject">
          <h2>{{lecture.name}} teaches... </h2>
          <br>    
              <div class="panel panel-default">
                <div class="panel-heading">
                  <table class="table" *ngIf="subjects && subjects.length">
                    <thead>
                      <tr>
                        <th>TITLE</th>
                        <th>CODE</th>
                        <th>DESCRIPTION</th>
                        <th>CREDITS</th>
                        <th>STATUS</th>              
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let subject of subjects">
                        <td>{{subject.tittle}}</td>
                        <td>{{subject.code}}</td>
                        <td>{{subject.description}}</td>
                        <td>{{subject.credits}}</td>
                        <td>{{subject.status}}</td>               
                      </tr>
                    </tbody>
                  </table>
                  <div *ngIf="(!subjects.length > 0)">
                    <h3>No Subjects allocated</h3>
                  </div>
              </div>    
          </div> 
        </div>
      </div>
  </div>
  