<section class="contact py-5" id="contact">
  
  <div class="container py-3 py-md-3">
	 
		<div class="col-md-4 offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <p>You can reset your password here.</p>
            <div class="panel-body">

              <form id="register-form" role="form" autocomplete="off" class="form" method="post">

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input  [(ngModel)]="email" name="email" placeholder="email address" class="form-control"  type="email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input type="password" [(ngModel)]="password" name="password" placeholder="********" class="form-control" >
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input type="password"  [(ngModel)]="passwordConfirm" name="passwordConfirm" placeholder="********" class="form-control"  >
                  </div>
                </div>
                <div class="form-group">
                  <input name="recover-submit" (click)="Save()" class="btn btn-lg btn-primary btn-block" value="Reset Password">
                 </div>
                <a routerLink="/">back</a>
              <div>
                <h3 class="errorMessage">{{message}}</h3>
              </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

	</div>
</section>