label{
    color: black;
}
#content{
    width: 100%;
}
.fullBTN{
    width: 100%;
    padding: 5%;
    color: white;
    font-weight: bolder;
    font-size: 33px;
}
.width100{
    width: 100%;
}
.buy{
background: #2ecc71;

}
.sell{
    background: #e74c3c;

}
.form-group{
    width: 100%;
}
div{
    width: 100%;
}
.row{
    padding-bottom: 3%;
}


