/* You can add global styles to this file, and also import other style files */
#content{
    width: 100%;
    padding: 2%;
}
.student-details{
    border-bottom: 3px solid goldenrod;
    margin-bottom: 2%;
    padding-bottom: 2%;
}

.loading-screen{
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background:#ecf0f1;
    display: none;
}
.loading{
    position: absolute;
    left: 50%;
    bottom: 50%;
}
