<div class="body">
	
    <nav>
        <figure>
            <div id="logo"></div>
            <figcaption>STUDENT<span>-IO</span></figcaption>
        </figure>
        <img src="assets/images/menu-donut.svg" (click)="toggleMobileMenu()" alt="menu-tab-mobile">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#" class="button" routerLink="/login">Login</a></li>
        </ul>

        <div class="mobile-nav" *ngIf="showMobileMenu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#" class="button" routerLink="/login">Login</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="banner">
            <h1>WE ARE STUDENT<span>-IO</span></h1>            
            <p>
                The system provides a 360-degree view over the students,
                to manage their various needs and tracking their educational performance.
                A single platform can offer an access to all these elements
                and aid in tracking the data on the fly.
                StudentMGR.IO is a web-based software which can be
                accessed from anywhere and at any time.
            </p>
            <a href="#" class="cta">GET STARTED</a>
        </div>       
        <div class="img-banner">
            <img src="assets/images/undraw_exams_g4ow.svg" alt="">
        </div>
    </main>

    <!-- vanilla java script -->
    <script>
        (function () {
            var menu = document.querySelector('ul'),
                menuLink = document.querySelector('img');
            menuLink.addEventListener('click', function (e) {
                menu.classList.toggle('active');
                e.preventDefault();
            });
        })();
	</script>
	
</div>