    <div class="sidebar-header">
        <h3>Admin Dash</h3>
    </div>
   
    <ul class="list-unstyled components">
      <li>
          <a routerLink="/user-dashboard">Home View</a>
      </li>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">My Account</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="#">My Profile</a></li>
                <li><a href="#">Change Your Password</a></li>
            </ul>
        </li>
      
        <li>
            <a routerLink="/student-list">Students</a>
        </li>
        <li>
            <a routerLink="/all-departement">Departments</a>
        </li>
        <li>
            <a routerLink="/all-courses"> Courses</a>
        </li>
         <li>
            <a routerLink="/all-subjects">Subjects</a>
        </li>
         <li>
            <a routerLink="/all-lectures">Lectures</a>
        </li>
      
    </ul>
