
<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
   <app-student-nav></app-student-nav>
  </nav>
  <!-- Page Content Holder -->
  <div id="content">
    <app-toggle-user-menu></app-toggle-user-menu>
      <h2>Student - Change Password</h2> <br>
          <div class="row">
            <div class="col-sm-12 offset-3">
              <br>
             <br>
              <div>
                <div class="form-group">
                  <label for="email"><b>ENTER EXISTING PASSWORD</b>:</label>
                  <input type="password"  [(ngModel)]="oldpassword"  placeholder="Enter Old Password Here..."    class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="email"><b>ENTER NEW PASSWORD</b>:</label>
                  <input type="password"  [(ngModel)]="newpassword"  placeholder="Enter New Password Here..."    class="form-control" id="email">
                </div> 
                <div class="form-group">
                  <label for="email"><b>CONFIRM NEW PASSWORD</b>:</label>
                  <input type="password"  [(ngModel)]="confirmpassword"  placeholder="Confirm New Password Here..."   class="form-control" id="email">
                </div>
   
                <div class="form-group">
                  <button type="button" (click)="Save()" class="btn btn-info">Change Password</button>
                  <button type="button" (click)="Abort()" class="btn btn-warning" style="color:white">Cancel</button>
                </div>               
            </div> 
            <div class="row">
              <h4 class="errorMessage">{{message}}</h4>
            </div>
          </div>
          </div>
     </div>
</div>

